@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    display: flex;
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

/* .container{
    flex: 1;
} */

main{
    display: flex;
    flex-wrap: nowrap;
    width: 1920px;
    height: 1080px;
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:  #1CD1B0;
    width: 100%;
    height: 38px;
    padding-left: 27px;
}

h1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 27px;
    width: 100%;
    height: 101px;
    background-color: #00669F;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 960px;
    gap: 25px;
}

.batman{
    /* display: flex; */
    overflow: hidden;
    width: 300px;
    height: 530px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.images{
    position: relative;
}

.heart{
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
}

.batman-bg{
    width: 100%;
    height: 194px;
}

.photobat{
    position: absolute;
    z-index: 11;
    top: 120px;
    left: 85px;
}

.text-bg{
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 336px;
}

.text-bg h2{
    margin-top: 60px;
    font-size: 30px;
    font-weight: 500px;
}

.text-bg p{
    padding: 10px;
    margin-bottom: 10px;
}

.text-bg a{
    padding: 10px 20px;
    background-color: #00669F;
    color: #F3F3F3;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    box-shadow: var(--shadow-elevation-medium);
}

.add{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -250px;
    margin-bottom: 50px;
}

section a{
    padding: 10px 20px;
    background-color: #00669F;
    color: #F3F3F3;
    text-decoration: none;
    font-size: 30px;
    font-weight: 300;
    border-radius: 50%;
}

footer{
    display: flex;
    width: 100%;
    height: 51px;
    background-color: #00669F;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-left: 27px;
}

.footertext{
    flex: 1;
    text-align: center;
}

.imgfooter{
    height: 25px;
    display: flex;
    padding-right: 27px;
}